<section class="comments">
    <hr>
    <h3>Comments</h3>
    <% entry.comments.forEach(comment => { %>
        <div class="comment">
            <p class="login"><%= comment.user.login %></p>
            <p><%= comment.content %></p>
        </div>
    <% }) %>
</section>
