body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(120, 245, 228);
}

header {
    text-align: center;
    font-size: 36px;
    text-decoration: bold;
}

.toolbar {
    text-align: center;
}

.toolbar > a {
    font-size: 26px;
    margin: 0 100px;
}

footer {
     text-align: right;
}

article {
    margin-left: 30%;
    margin-top: 50px;
}
strong {
    font-size: 26px;
}
article > ul > li {
    list-style: none;
}

.error-box {
    text-align: center;
    color: red;
}

a {
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out; 
}

a:hover {
    background-color:rgb(36, 170, 163);
    transform: scale(2.0); 
}

form {
     text-align: center;
}

label {
    text-align: left;
}
form input{
    margin: 20px;
}

form input[type='submit'] {
    margin: 20px;
    width: 130px;
    height: 30px;
}

.comments {
    margin-left: 30%;
    text-align: left;
}

.login {
    font-style: italic;
}

hr {
    width: 50%;
    margin-left: 0;
}

.toolbar input[type="submit"] {
    background: none!important;
    color: blue;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.error {
    padding: 1em;
    border: 0.1em dashed red;
    background-color: hsl(100, 100%, 90%);
}

.comment > .login {
    font-weight: bold;
}

